<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bts.sio.compterendu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoandroidgsb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppDark">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PanelActivity" />
        <activity android:name=".ConsulterCRActivity" />
        <activity android:name=".SaisieCRActivity" />
        <activity android:name=".ConsulterCrOneActivity" />
        <activity android:name=".ConsulterMedOneActivity" />
        <activity android:name=".ConsulterMedActivity" />
        <activity android:name=".ConsulterPraOneActivity" />
        <activity android:name=".ConsulterPraActivity" />
        <activity android:name=".ConsulterCollabOneActivity" />
        <activity android:name=".ConsulterCollabActivity" />
        <activity android:name=".CrActivity"/>
        <activity android:name=".ConsulterAcOneActivity" />
        <activity android:name=".ConsulterACActivity" />
        <activity android:name=".SaisieACActivity" />
        <activity android:name=".AcActivity"/>
    </application>

</manifest>